*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;

}

html{
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-dark:#4D5E77;
    --grey-blue:#A1B2CD;
    --grey-medium: #D3D9E2;
    --grey-light:  #E5EAF1;
    
    font-size: 62.5%; /* 10px */

}

body{
    display: flex;
    height: 100vh; /* 100% de altura da tela */
    background: var(--background);
}

body, button, input, textarea{
    /* Intervalode tamanho */
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.content{
    width: 100%;
    margin: 0 auto;
}

.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


/* INPUT AND BUTTONS */

input, button, .button{
    border-radius: 0.8rem;
    height: 5rem;

}

button, .button{
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background: #3485FF;
    color: #FFFFFF;

    cursor: pointer;
}

button:hover, .button:hover{
    filter: brightness(1.2);
    transition: filter .2s;
}

button > img,
.button > img{
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined{
    background: #FFFFFF;
    color: #3485FF;
    border: 0.2rem solid #3485FF;
}


button.red,
.button.red{
    background: var(--red);
}

button.grey,
.button.grey{
    background: var(--grey-light);
    color: var(--grey-dark);
}

/* HEADER */

.content header{
    width: 80%;
    margin: 3.5rem auto;
}

.content header img{
    width: 16.7rem;
}